@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@font-face {
    font-family: 'MojFont'; 
    src: url("BrittanySignature.ttf"); 
}
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    font-family: Cabin, sans-serif;
}
body {
    width:100%;
}
#okvir{
    width:95%;
    margin: 0px auto;
}
#navbar{
    width:100%;
    display:flex;
    margin-top: 10px;
    position: fixed;
    top: -20px;
    transition: top 0.3s;
    background-color:white;
}
#meni{
    width:70%;
}
.nav{
    margin-left: 10%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 4%;
}
.nav a{
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    color: black;
    font-size:21px;
}
.boja{
    color: #d4ba7a;
    font-family: 'Mojfont';
}
#naziv h1{
    margin-left: 18%;
    float: left;
    width:100%;
    padding:2%;
    color:black;
    font-size: 35px;
    margin-top:1%;
    font-family: 'Mojfont';
}
#naziv{
    width:30%;
}
#meni ul li a:hover{
    opacity: 0.6;
    border-bottom:4px solid #d4ba7a;
}
#sredina{
    width:100%;
    padding-top: 5px;
}
#slajder{
    width: 100%;
    margin-top:6%;
    overflow: hidden;
    height:auto;
}
#slajder img{
    display: none;
    width: 90%;
    margin:0px auto;
    border-radius: 3%;
}
#slajder .prikazi{
    display: block;
}
#about-us,#naslov{
    position: relative;
    padding: 100px 35px ;
    text-align: center;
    margin-top: 3%;
}  
#about-us h2,#naslov h2{
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 10px;
    padding-top: 1%;
    margin-left: 1%;
    z-index: -10;
} 
#about-us h3{
    font-size: 40px;
}
.section-title::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 100px;
    top: 0;
    left: 50%;
    margin-left: 1px;
    background-color: #d4ba7a;
}
#sadrzaj{
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
}
.tekst{
    width: 30%;
}
.tekst img{
    width: 90%;
    margin-left: 4%;
    height: 90%;
    margin-top: 7%;
}
.tekst p{
    text-align: center;
    margin-top: 50%;
}
#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fancybox {
    margin: 10px;
    transition: transform 0.2s;
    width: calc(20% - 20px);
    box-sizing: border-box;
}

.fancybox img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    margin-left: 10%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
    .fancybox {
        width: calc(50% - 20px); /* Na manjim ekranima, postavljamo širinu na 50% */
    }
}
#flowerOrderFormContainer {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
#flowerOrderForm {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.error-message {
    color: red;
    margin-top: -8px;
    margin-bottom: 16px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}